:root {
  /* default colors */
  --color-primary: #ff9800;
  --color-primary-darker: #e65100;
  --color-text: #000;
  --color-sidebar-links: #535763;
  --color-text-contrast: #fff;
  --color-text-default-screens-pages: #000;
  --color-text-contrast-screens-pages: #fff;
  --color-text-muted: #37474f;
  --color-text-link: #00e;
  --color-text-link-visited: #551a8b;
  --color-text-link-active: #f00;
  --color-border: #000;
  --color-background: #fff;
  --color-danger: #b71c1c;

  /* fonts */
  --font-family-primary: helvetica neue, helvetica, arial, sans-serif;
  --font-family-secondary: georgia, times new roman, times, serif;
  --font-size-base: 16px;
  --letter-spacing-base: 0;
  --line-height-base: 1.3;

  /* sizes */
  --border-width-regular: 0.1rem;

  /* z-indexes */
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 10;
  --z-index-3: 100;
  --z-index-4: 1000;
  --z-index-5: 10000;
}
